<!DOCTYPE html>
<html>
  <head>
    <title>DesafioWebtech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless params[:controller] == 'devise/sessions' && params[:action] == 'new' %>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-image: linear-gradient(to right, #0F1828 , #1B2C47)">
      <%=link_to 'Desafio Webtech', root_path, class:'navbar-brand mr-auto', title:'Voltar à página inicial'  %>

        <%=link_to 'Fazer logoff', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light'%>
    </nav>
      <%end %>
    <%if params[:controller] == 'homepage' || params[:controller] == 'devise/sessions' %>
      <%= yield %>
    <%else %>

    <div class="container-fluid">
      <br>
      <%= yield %>
    </div>
    <%end %>





  </body>
</html>
<style>
    td{
        text-align: center;
    }
    th{
        text-align: center;
    }

    .btn-huge{
         padding-top:20px;
         padding-bottom:20px;
    }
    thead{
        background-color: #2A446F;
        color: white;
      }
    .btn-desafio{
        background-color: #2A446F;
        color: white;
    }
    .btn-desafio:hover{
        background-color: #3B609B ;
        color:white;

    }
    small{
        font-family: Arial, Helvetica, sans-serif;
    }
    .btn-outline-dark{
        border-color: #2A446F ;
    }
    .btn-outline-dark:hover {
        background-color: #2A446F ;
        color: white;
    }
    .
</style>
